.hero {
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        background-image: url("../images/parfum1.svg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
    
    padding-top: 140px;
    padding-bottom: 540px;
    /* background-color: rgb(217, 156, 156); */
}