/* <style> */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* </style> */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.3s;
  font-family: "Raleway", sans-serif;

  &:hover {
    opacity: 0.7;
  }
}



button {
  /* text-decoration: none;
   */
  border: none;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Raleway", sans-serif;

  &:hover {
    opacity: 0.7;
  }
}

ul,
ol {
  list-style: none;
}